<div class="row">
	<div class="col-md-8">
		<h3 class="center">All Jobs</h3>
		<%= render 'admin/jobs/jobs' %>
	</div>

	<div class="col-md-4">
		<div class = "category">
			<h3 class="center">Job Sectors</h3>
			<% unless @categories.nil? %>
				<ul class="categories">
					<% @categories.each do |c| %>
					  <li><%= c.job_category %>
					  		<%= link_to "Edit", edit_admin_category_path(c) %>
							  <%=link_to "Delete", admin_category_path(c),
					  																			method: :delete,
					  																		  data: {confirm: "Are you sure?"} %>
					  																		  </li>
						
					<% end %>

				</ul>
			<% end %>
			

			<%= custom_form(@category, admin_categories_path, "Job Sector", "job_category", "Add") %>
			
		</div>

		<div class = "category">
			<h3 class="center">Job Types</h3>
			<% unless @jobtypes.nil? %>
				<ul class="categories">
					<% @jobtypes.each do |j| %>
					  <li><%= j.jobtype %> 
					  		<%= link_to "Edit", edit_admin_jobtype_path(j) %>
					  		<%=link_to "Delete", admin_jobtype_path(j),
					  																			method: :delete,
					  																		  data: {confirm: "Are you sure?"} %>									
					  </li>
					<% end %>
				</ul>
			<% end %>
			
			<%= custom_form(@jobtype, admin_jobtypes_path, "Job Type ", "jobtype", "Add" ) %>
			
		</div>
	</div>
</div>