
<% if @job.approved? %>
	<% if applied(@job.id, current_user.id) %>
		<small>You have already applied for the job!</small>
	<% else %>	
	  <%= form_for(@applied, url: applieds_path) do |f| %>
	  	<div><%= f.hidden_field :job_id, value: @job.id %></div>
	  	<div><%= f.hidden_field :user_id, value: current_user.id %></div>
	  	<div class="form-group">
	  		<%= f.label :resume, "Upload Resume" %>
	    	<%= f.file_field :resume, class: "form-control" %>
	    </div>
	    <%= f.submit "Apply Now!", class: "btn btn-primary form-control" %>
		<% end %>
	<% end %>
<% end %>
