<% provide(:title, "View Job") %>
<h1 class="title"><%= @job.title %></h1>

<div class="row">
	<div class="col-md-8">
		<div class="job">
		  <%= render 'shared/job-desc'%>

		  <span class="type">Posted by: </span> <%= link_to "#{@job.user.name}", @job.user %> <br>
		  
		  <% unless @job.approved? %>
		  	<% if @job.approved.nil? %>
   		  	<span>Not yet approved by admin!</span>
   		  <% elsif @job.approved == false %>
   		  	<span>Rejected</span>
   		  <% end %>
   		  <% if correct_user?(@job) %>
   		  	<%= link_to "Edit", edit_job_path %>
   		  <% end %>
   		<% end %>
		</div>

		<% if correct_user?(@job) %>
			<%= render 'applicants_list' %>
		<% else %>
		  <%= render 'apply' %>
		<% end %>		
	</div>
</div>