<% provide(:title, "View Job") %>
<h1 class="title"><%= @job.title %></h1>

<div class="row">
	<div class="col-md-8">
		<div class="job">
		  <%= render 'shared/job-desc'%>

		  <span class="type">Posted by: </span> <%= link_to "#{@job.user.name}", @job.user %> <br>
		  
		  <% unless @job.approved? %>
   		  <span>Not yet approved by admin!
   		  <% if current_user.id == @job.user_id %>
   		  	<%= link_to "Edit", edit_job_path %>
   		  <% end %>
   		  </span> 
   		<% end %>
		</div>

		<% if current_user.id == @job.user_id %>
			<%= render 'applicants_list' %>
		<% else %>
		  <%= render 'apply' %>
		<% end %>		
	</div>
</div>