
<ul class = "jobs">
	<% @jobs.each do |job| %>

		<li>
			<h3><%=link_to job.title, admin_job_path(job) %></h3>
			<p><%= job.description %></p>
			<% if logged_in? and current_user.admin? %>
		    <%= link_to "delete", admin_job_path(job), method: :delete,
		                                  data: { confirm: "You sure?" } %>

		    <% if job.approved.nil? %>
		    	<%= link_to "approve", admin_job_path(job, approved: true),
		    														 			method: :patch, class: "review" %>
		    	<%= link_to "reject", admin_job_path(job, approved: false),
		    																	 method: :patch, class: "review" %>
		    
		    <% else %>
			    <% if job.approved? %>
			      <span class="review">approved</span>
			      <%= link_to "reject", admin_job_path(job, approved: false),
			      																			 method: :patch, class: "review"%>
			    <% else %>
			      <%= link_to "approve", admin_job_path(job, approved: true),
			      																			 method: :patch, class: "review"%>
			      <span class="review">rejected</span>
			    <% end %>
			  <% end %>  
			    <span class="review">Posted at: </span> <%= job.created_at %>
			    <span class="review">By</span> <%= link_to job.user.name, admin_user_path(job.user) %>
			  <% end %>
		</li>
  <% end %>
</ul>

<%= will_paginate @jobs %>