<% provide(:title, "View Job") %>
<h1 class="title"><%= @job.title %></h1>

<div class="row">
	<div class="col-md-8">
		<div class="job">
		  <%= render 'shared/job-desc' %>
		  
		  <span class="type">Posted by: </span> <%= link_to "#{@job.user.name}", 
																						admin_user_path(@job.user) %> <br>			
			
			<% if @job.approved? %>		  														
				Approved <%= reject_link(@job) %>
		  <% else %>
		  	<% if @job.approved.nil? %>
   		    <span>Not yet approved! <%= approve_link(@job) %> </span> 
   		  <% else %>
   		  	<span>Rejected <%= approve_link(@job) %> </span> 
   		  <% end %>
   		<% end %>	  							
		</div>
		<%= render 'applicants' %>
	</div>
</div>