<% provide(:title, "View Job") %>
<h1 class="title"><%= @job.title %></h1>

<div class="row">
	<div class="col-md-8">
		<div class="job">
		  <h3>Description:</h3>
		  <p class="desc"><%= @job.description %></p>
		  <span class="type">Sector: </span> <%= @job.sector %> <br>
		  <span class="type">Job Type: </span> <%= @job.jobtype %> <br>
		  <span class="type">Company: </span> <%= @job.cname %> <br>
		  <span class="type">Email: </span> <%= @job.contactmail %> <br>
		  <span class="type">Location: </span> <%= @job.location %> <br>
		  <span class="type">Visit Us: </span> <%= link_to "#{@job.url}", @job.url %> <br>
		  <span class="type">Posted by: </span> <%= link_to "#{@job.user.name}", 
		  																						admin_user_path(@job.user) %> <br>			
			
			<% if @job.approved? %>		  																													<%= link_to "reject", admin_job_path(@job),	method: :patch%>
		  <% else %>
   		  <span>Not yet approved! <%= link_to "approve", admin_job_path(@job),
   		  																			 method: :patch, class: "review"%> </span> 
   		<% end %>	  							
		</div>
		<%= render 'applicants' %>
	</div>
</div>