

<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="container">
    <%= link_to "job app", root_path, id: "logo" %>
    
    <nav>
      <div class="search">
        <% if current_user && current_user.admin? %>
          <%= render 'admin/admin-search-form'%>
        <% else %>
          <%= render 'users/search-form'%>
        <% end %>
      </div>
      <ul class="nav navbar-nav navbar-right">
        <li>
          <% if (logged_in? && current_user.admin?) %>
            <%= link_to "Home", admin_path, class: "text" %>
          <% else %>
            <%= link_to "Home", root_path, class: "text" %>
          <% end %>
          </li>
        <li>
          <% unless (logged_in? && current_user.admin?)%>
            <%= link_to "Help", help_path, class: "text" %>
          <% end %>
        </li>
        <% if logged_in? %>
          <% if current_user.admin? %>
            <li><%= link_to "Users", admin_users_path, class: "text" %></li>
          <% else %>
            <li><%= link_to "Conversations", conversations_path, class: "text" %></li>
          <% end %>
          <li class="dropdown">
            <a href="#" class="dropdown-toggle text" data-toggle="dropdown">
              Account <b class="caret"></b>
            </a>
            <ul class="dropdown-menu">
              <% if current_user.admin? %>
                <li><%= link_to "Settings", edit_admin_user_path(current_user) %></li>
              <% else %>
                <li><%= link_to "Profile", current_user %></li>
                <li><%= link_to "Settings", edit_user_path(current_user) %></li>
              <% end %>
              <li class="divider"></li>
              <li>
                <%= link_to "Log out", logout_path, method: :delete %>
              </li>
            </ul>
          </li>
        <% else %>
          <li class="text"><%= link_to "Log in", login_path, class: "text" %></li>
          <li><%= link_to 'Connect with LinkedIn', '/auth/linkedin', class: "text" %></li>
        <% end %>
      </ul>
    </nav>
  </div>
</header>
